Repository forcedotcom/SalesforceMobileSDK-iOS: changes, and which Codecov flags are due for each by the changed paths.
All: Analytics, Common, Core, SmartStore, MobileSync

Support Domian Discovery within the SDK
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/DomainDiscoveryCoordinator.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
Due: Core

Check for supported client ids on disco check
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/DomainDiscoveryCoordinator.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
Due: Core

fix unit test for disco tests
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFOAuthCoordinatorTests.swift
Due: none

fixing mehtod type and making conditional more readable
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/DomainDiscoveryCoordinator.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
Due: Core

Discovery Coordinator Setup
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/DomainDiscoveryCoordinator.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/DomainDiscoveryCoordinatorTests.swift
Due: Core

Adding logging for case of unsupported client Id
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/DomainDiscoveryCoordinator.swift
Due: Core

update comments
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/DomainDiscoveryCoordinator.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
Due: Core

fix: implement streamError for EncryptStream and DecryptStream
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Security/DecryptStream.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Security/EncryptStream.swift
Due: Core

Unit tests for Encryption stream and make code testable
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Security/EncryptStream.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/EncryptStreamTests.swift
Due: Core

add tests for DecryptStream, and made DecryptStream code testable
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Security/DecryptStream.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Security/EncryptStream.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/DecryptStreamTests.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/EncryptStreamTests.swift
Due: Core

fixing test where redirectUri is nil
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFOAuthCoordinatorTests.swift
Due: none

Sorting headers in pod spec even if there are no header to exclude
  MobileSync.podspec
  SalesforceAnalytics.podspec
  SalesforceSDKCommon.podspec
  SalesforceSDKCore.podspec
  SmartStore.podspec
  shared/common/build/tools/update_podspec_headers.sh
Due: none

Updating imports
  .gitmodules
  libs/SmartStore/SmartStore.xcodeproj/project.pbxproj
  libs/SmartStore/SmartStore/Classes/SFAlterSoupLongOperation.m
  libs/SmartStore/SmartStore/Classes/SFSmartStore.m
  libs/SmartStore/SmartStore/Classes/SFSmartStoreDatabaseManager.m
  libs/SmartStore/SmartStoreTests/SFSmartStoreFullTextSearchSpeedTests.m
Due: SmartStore

Fixing xcode project - depending on fork of FMDB
  libs/SmartStore/SmartStore.xcodeproj/project.pbxproj
Due: none

Fixing test
  libs/SmartStore/SmartStoreTests/SFSmartStoreTests.m
Due: none

Updating SmartStore.podspec to use SQLCipher 4.10
  SmartStore.podspec
Due: none

Exact version of cipher provider depends on device/os
  libs/SmartStore/SmartStoreTests/SFSmartStoreTests.m
Due: none

There are no submodules left - simplifying install.sh
  install.sh
Due: none

Attempt at fixing static analysis
  .github/workflows/pr.yaml
Due: none

Removing example access token
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Util/SFSDKOAuth2.m
Due: Core

@W-19345684: [iOS][QRCode] Shows Unsupported URL on FreshLogin using QRCode
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
Due: Core

fix bug where notification weren't getting encypted properly
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/PushNotification/NotificationType.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/ActionTypeTests.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/PushNotificationManagerTests.swift
Due: Core

Ensure we persist on user account notification type
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Extensions/PushNotificationManager+ActionableNotifications.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/PushNotification/PushNotificationManager.swift
Due: Core

Add test coverage for arch/unarchive user account to make sure Notification type is persisted.
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/PushNotificationManagerTests.swift
Due: none

@W-19345684: [iOS][QRCode] Shows Unsupported URL on FreshLogin using QRCode (Code Review Updates)
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
Due: Core

@W-19388238: [iOS][QR Code] QR code login puts the app in an unrecoverable state.
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/AuthCoordinatorFrontdoorBridgeLoginOverride.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
  shared/resources/SalesforceSDKResources.bundle/en.lproj/Localizable.strings
Due: Core

@W-19388238: [iOS][QR Code] QR code login puts the app in an unrecoverable state. (Spelling fixe)
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/AuthCoordinatorFrontdoorBridgeLoginOverride.swift
Due: Core

@W-19388238: [iOS][QR Code] QR code login puts the app in an unrecoverable state. (Localization Fix)
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
  shared/resources/SalesforceSDKResources.bundle/en.lproj/Localizable.strings
Due: Core

@W-19388238: [iOS][QR Code] QR code login puts the app in an unrecoverable state. (Localization Fix Pt. 2)
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
  shared/resources/SalesforceSDKResources.bundle/en.lproj/Localizable.strings
Due: Core

Swiftify AuthInfo
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/IDP/SFUserAccountManager+URLHandlers.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Identity/SFIdentityCoordinator+Internal.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/SFLoginViewController.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/AuthInfo.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthInfo.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthInfo.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthSessionRefresher.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Test/SFSDKTestRequestListener.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFSDKAuthErrorManager.h
  libs/SalesforceSDKCore/SalesforceSDKCore/SalesforceSDKCore.h
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFOAuthTestFlowCoordinatorDelegate.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFSDKErrorManagerTests.m
Due: Core

@W-19345684: [iOS][QRCode] Shows Unsupported URL on FreshLogin using QRCode (#3901)
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
Due: Core

@W-19388238: [iOS][QR Code] QR code login puts the app in an unrecoverable state. (#3903)
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/AuthCoordinatorFrontdoorBridgeLoginOverride.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
  shared/resources/SalesforceSDKResources.bundle/en.lproj/Localizable.strings
Due: Core

Update pr.yaml
  .github/workflows/pr.yaml
Due: none

Fixing main thread runtime warning issue
  libs/SalesforceAnalytics/SalesforceAnalytics/Classes/Store/SFSDKEventStoreManager.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
Due: Analytics, Core

Fix localization file
  shared/resources/SalesforceSDKResources.bundle/en.lproj/Localizable.strings
Due: none

Mobile SDK 13.0.2
  MobileSync.podspec
  SalesforceAnalytics.podspec
  SalesforceSDKCommon.podspec
  SalesforceSDKCore.podspec
  SmartStore.podspec
  configuration/Version.xcconfig
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKConstants.h
  package.json
  readme.md
Due: Core

@W-19461882: [M1][MSDK13.1] Enable Flexible Server Matching for QR Code Login (iOS)
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/AuthCoordinatorFrontdoorBridgeLoginOverride.swift
Due: Core

Building/testing with iOS 26 also
  .github/workflows/nightly.yaml
  .github/workflows/pr.yaml
  .github/workflows/reusable-workflow.yaml
Due: none

Path conditions:
  Analytics: any of: libs/SalesforceAnalytics/SalesforceAnalytics/, but not: shared, native, libs/**/*Test*/*
  Common: any of: libs/SalesforceSDKCommon/SalesforceSDKCommon/, but not: shared, native, libs/**/*Test*/*
  Core: any of: libs/SalesforceSDKCore/SalesforceSDKCore/, but not: shared, native, libs/**/*Test*/*
  SmartStore: any of: libs/SmartStore/SmartStore/, but not: shared, native, libs/**/*Test*/*
  MobileSync: any of: libs/MobileSync/MobileSync/, but not: shared, native, libs/**/*Test*/*
