Repository forcedotcom/SalesforceMobileSDK-iOS: changes, and which Codecov flags are due for each by the changed paths.
All: Analytics, Common, Core, SmartStore, MobileSync

Filter by type
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/PushNotification/NotificationType.swift
Due: Core

Update unit test for action types on push notifications
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/PushNotificationManagerTests.swift
Due: none

add deprecation marker for signpost removal in upcoming release of 14.0
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Instrumentation/SFSDKInstrumentationHelper.h
Due: Core

use the SFSDK_DEPRECATED macro
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Instrumentation/SFSDKInstrumentationHelper.h
Due: Core

@W-18777800: [qr code scan][ios] we should prevent a successful login of client A by scanning QR code of client B
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/SFLoginViewController+QrCodeLogin.swift
Due: Core

@W-18777800: [qr code scan][ios] we should prevent a successful login of client A by scanning QR code of client B (Error Type Update)
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/LoginError.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/SFLoginViewController+QrCodeLogin.swift
Due: Core

Add MSDK tag to keychain accessibility attribute changes
  libs/SalesforceSDKCommon/SalesforceSDKCommon/Classes/Keychain/KeychainHelper.swift
  libs/SalesforceSDKCommon/SalesforceSDKCommonTests/KeychainHelperTests.swift
Due: Common

Fix for dismissing screenlock
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Views/SFSDKWindowManager.m
Due: Core

Centralize SecItem operations
  libs/SalesforceSDKCommon/SalesforceSDKCommon.xcodeproj/project.pbxproj
  libs/SalesforceSDKCommon/SalesforceSDKCommon/Classes/Keychain/KeychainHelper.swift
  libs/SalesforceSDKCommon/SalesforceSDKCommon/Classes/Keychain/KeychainItemManager.swift
  libs/SalesforceSDKCommon/SalesforceSDKCommon/Classes/Keychain/SecItemOperations.swift
  libs/SalesforceSDKCommon/SalesforceSDKCommonTests/KeychainHelperTests.swift
  libs/SalesforceSDKCommon/SalesforceSDKCommonTests/SecItemOperationsTests.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
Due: Common, Core

@W-18777800: [qr code scan][ios] we should prevent a successful login of client A by scanning QR code of client B (Internalize Front Door URL Consumer Key Mismatch Handling To MSDK)
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/LoginError.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/SFLoginViewController+QrCodeLogin.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator+Internal.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
Due: Core

adding support to push deep linking login if host and hint give
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/WebViewStateManager.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Extensions/AuthHelper.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Extensions/BootConfig.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Util/LoginContext.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Util/SFSDKAuthHelper.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/LoginContextTests.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/Mocks/MockUserAccountManager.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/WebSocketClientTests.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/WebViewStateManagerTests.swift
Due: Core

@W-18777800: [qr code scan][ios] we should prevent a successful login of client A by scanning QR code of client B (Code Review Updates)
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator+Internal.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
  shared/resources/SalesforceSDKResources.bundle/en.lproj/Localizable.strings
Due: Core

@W-18777800: [qr code scan][ios] we should prevent a successful login of client A by scanning QR code of client B (Code Review Updates Pt. 2)
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator+Internal.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinatorFrontdoorBridgeLoginOverride.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinatorFrontdoorBridgeLoginOverride.m
Due: Core

@W-18777800: [qr code scan][ios] we should prevent a successful login of client A by scanning QR code of client B (Cursor Obj-C To Swift Conversion, Pt 1.)
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator+Internal.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinatorFrontdoorBridgeLoginOverride.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinatorFrontdoorBridgeLoginOverride.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinatorFrontdoorBridgeLoginOverride.swift
Due: Core

@W-18777800: [qr code scan][ios] we should prevent a successful login of client A by scanning QR code of client B (Cursor Obj-C To Swift Conversion, Pt 2.)
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/AuthCoordinatorFrontdoorBridgeLoginOverride.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator+Internal.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
Due: Core

@W-18777800: [qr code scan][ios] we should prevent a successful login of client A by scanning QR code of client B (Import Cleanup)
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator+Internal.h
Due: Core

Make SecItemOperations public
  libs/SalesforceSDKCommon/SalesforceSDKCommon/Classes/Keychain/SecItemOperations.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
Due: Common, Core

@W-18777800: [qr code scan][ios] we should prevent a successful login of client A by scanning QR code of client B (Code Review Feedback, Pt. 3)
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/AuthCoordinatorFrontdoorBridgeLoginOverride.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator+Internal.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
Due: Core

@W-18777800: [qr code scan][ios] we should prevent a successful login of client A by scanning QR code of client B (#3883)
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/AuthCoordinatorFrontdoorBridgeLoginOverride.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator+Internal.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
  shared/resources/SalesforceSDKResources.bundle/en.lproj/Localizable.strings
Due: Core

Adding deprication message for needed Swift class renaming.
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SFSDKWebViewStateManager.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/WebViewStateManagerTests.swift
Due: Core

If Deep link let auth happen
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Util/SFSDKAuthHelper.m
Due: Core

Revoke refresh token with a HTTP POST instead of a HTTP GET call
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Util/SFSDKOAuth2.m
Due: Core

Use OauthCoordinator as source of truth for auth info and provide default value
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator+Internal.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFSDKAuthSession.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
Due: Core

Updated test
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFSDKAuthUtilTests.swift
Due: none

pma 6601 removing old code
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
Due: Core

Updating unit test on websockets to clean up after each test more
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/WebSocketClientTests.swift
Due: none

Start bisect of flappy Test
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/WebSocketClientTests.swift
Due: none

finding the issue of the flapping test
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/PushNotificationManagerTests.swift
Due: none

adding Websocket tests back in
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/WebSocketClientTests.swift
Due: none

Bisecting
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/WebSocketClientTests.swift
Due: none

Adding test back in to bisect
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/PushNotificationManagerTests.swift
Due: none

looking at fulfilled call
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/WebSocketClientTests.swift
Due: none

fix issue for QRCode not authenticating
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Util/SFSDKAuthHelper.m
Due: Core

fixing flapping test on websockets callback
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/WebSocketClientTests.swift
Due: none

add print statement for case of call happening more than once, but don't fail it
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/WebSocketClientTests.swift
Due: none

Turn off mock task after we mock the message sent
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/WebSocketClientTests.swift
Due: none

Fix enum comparison warnings in SFUserAccountManager
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
Due: Core

Add client ID validation to domain discovery, require both login hint and my domain in callback, and improve error logging for missing parameters.
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/DomainDiscoveryCoordinator.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/DomainDiscoveryCoordinatorTests.swift
Due: Core

Adding support for unit tests on DomainDiscoveryCoordinator
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/DomainDiscoveryCoordinator.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/DomainDiscoveryCoordinatorTests.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/Mocks/MockNavigationAction.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFOAuthCoordinatorTests.swift
Due: Core

Handle discovery path as the way to check if coorinator needs to handle Domain Discovery API through the webview
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/LoginHost/SFSDKLoginHostStorage.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/DomainDiscoveryCoordinator.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Util/SFSDKAuthConfigUtil.m
Due: Core

Path conditions:
  Analytics: any of: libs/SalesforceAnalytics/SalesforceAnalytics/, but not: shared, native, libs/**/*Test*/*
  Common: any of: libs/SalesforceSDKCommon/SalesforceSDKCommon/, but not: shared, native, libs/**/*Test*/*
  Core: any of: libs/SalesforceSDKCore/SalesforceSDKCore/, but not: shared, native, libs/**/*Test*/*
  SmartStore: any of: libs/SmartStore/SmartStore/, but not: shared, native, libs/**/*Test*/*
  MobileSync: any of: libs/MobileSync/MobileSync/, but not: shared, native, libs/**/*Test*/*
